*{
    margin:0px;
    box-sizing: border-box;
    font-family: Verdana,Tahoma, sans-serif;
}
.section-1{
background-color: #1F2937;
padding: 5px 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0px 80px;
    
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
ul{
    display: flex;
    list-style: none;
}
ul a{
    text-decoration: none;
    padding: 10px;
    color:#E5E7EB;
}
.hero-secondry-text,.header-links{
    font-size: 18px;
    color: #E5E7EB;
}
.hero{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;

    
}
.hero-text{
    width: 30em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hero-main-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
} 
.hero-image{display: flex;}  
.hero-image img{
    width: 450px;
    height: auto;
}
.hero .hero-btn{
    width: 10em;
    border:2px solid #3208ab;
    border-radius: 25px;
    height: 3em;
    font-size: 18px;
    background-color: #3208ab;
    color: #F9FAF8;
    cursor: pointer;
    
}
.section-2{
    margin: 50px 0px 60px 0px;
}
.section-2 .section-2-heading{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 30px 0px 30px 0px;
}
.image-card{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
} 
.card{
    max-width: 250px;
    
}
.card img{
    width: 250px;
    height: 250px;  
    border: 2px solid red;
}
.card p{
    font-size: 18px;
    color: #1F2937;
    font-weight: 600;
    padding: 10px;

}
.testomonial{
    background-color: #E5E7EB;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.testomonial p{
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    width: 80%;
    line-height: 150%;
}
.testomonial div{
    margin-left: auto;
    font-size: 18px;
    font-weight: 600;
}
.section-4{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action{
    width: 70%;
    background-color: #3208ab;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding: 40px;
    
}
.action div{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;

}
.action p{
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 500;
    margin-top:10px ;
}
.action-btn{
    color: #E5E7EB;
    background-color: #3208ab;
    font-size: 16px;
    border: 2px solid #E5E7EB;
    border-radius: 10px;
    padding: 0px 40px;
    cursor: pointer;    
}
